In [3]:
import torch
from torch import nn
from torch.nn import functional
import pandas as pd

In [4]:
data = pd.read_csv("Shakespeare_data.csv")

In [5]:
data.head()

,Dataline,Play,PlayerLinenumber,ActSceneLine,Player,PlayerLine
0,1,Henry IV,NaN,NaN,NaN,ACT I
1,2,Henry IV,NaN,NaN,NaN,SCENE I. London. The palace.
2,3,Henry IV,NaN,NaN,NaN,"Enter KING HENRY, LORD JOHN OF LANCASTER, the ..."
3,4,Henry IV,1.0,1.1.1,KING HENRY IV,"So shaken as we are, so wan with care,"
4,5,Henry IV,1.0,1.1.2,KING HENRY IV,"Find we a time for frighted peace to pant,"

In [6]:
data.Play.unique()

array(['Henry IV', 'Henry VI Part 1', 'Henry VI Part 2',
       'Henry VI Part 3', 'Alls well that ends well', 'As you like it',
       'Antony and Cleopatra', 'A Comedy of Errors', 'Coriolanus',
       'Cymbeline', 'Hamlet', 'Henry V', 'Henry VIII', 'King John',
       'Julius Caesar', 'King Lear', 'Loves Labours Lost', 'macbeth',
       'Measure for measure', 'Merchant of Venice',
       'Merry Wives of Windsor', 'A Midsummer nights dream',
       'Much Ado about nothing', 'Othello', 'Pericles', 'Richard II',
       'Richard III', 'Romeo and Juliet', 'Taming of the Shrew',
       'The Tempest', 'Timon of Athens', 'Titus Andronicus',
       'Troilus and Cressida', 'Twelfth Night', 'Two Gentlemen of Verona',
       'A Winters Tale'], dtype=object)

In [25]:
paly_data = data.groupby("Play")

In [41]:
data["player_with_line"] = (data["Player"].fillna("") + ":\n" + data["PlayerLine"]).str.strip(":\n ")

In [48]:
play_script = data.groupby("Play").agg({"player_with_line": lambda x: "\n".join(x)}).reset_index()

In [56]:
!mkdir scripts

In [64]:
for d in play_script.to_dict(orient="records"):
    with open("scripts/{}.txt".format(d.get("Play")), "w") as f:
        f.write(d.get("player_with_line"))

In [ ]:
(